<div class="row-fluid">
  <div class="btn-toolbar">
    <div class="btn-group">
      <% if @current_user.has_privilege?('bills', 'add_temporary') %>
        <button class="btn" onclick="add_temporary()"><span></span>增加临时账单</button>
      <% end %>
      <% if @current_user.has_privilege?('accounts', 'add_pre_money') %>
        <button class="btn" onclick="add_pre_money()"><span></span>预存款</button>
      <% end %>
      <% if @current_user.has_privilege?('bills', 'index') %>
        <button class="btn"><span></span>退款</button>
      <% end %>
      <% if @current_user.has_privilege?('bills', 'pay') %>
        <button class="btn" onclick="pay()"><span></span>缴费</button>
      <% end %>
      <% if @current_user.has_privilege?('bills', 'push') %>
        <button class="btn" onclick="push()"><span></span>使用预存款冲销</button>
      <% end %>
      <% if @current_user.has_privilege?('receipts', 'print') %>
        <button class="btn" onclick="print()"><span></span>打印收据</button>
      <% end %>
      <% if @current_user.has_privilege?('bills', 'reset') %>
        <button class="btn" onclick="resetBill()"><span></span>重置费用账单</button>
      <% end %>
      <% if @current_user.has_privilege?('houses', 'add_house_charge') %>
        <button class="btn" onclick="bindCharges()"><span></span>绑定收费项目</button>
      <% end %>
      <% if @current_user.has_privilege?('bills', 'destroy') %>
        <button class="btn" onclick="delBill()"><span></span>删除收费账单</button>
      <% end %>
    </div>
  </div>
  <table id="house_base_info" class="table table-bordered table-condensed">
    <thead>
    <tr>
			<th>ID</th>
      <th>房号</th>
      <th>业主</th>
      <th>建筑面积</th>
      <th>类型</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="5">数据准备</td>
    </tr>
    </tbody>
  </table>
</div>