<script type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" src="/assets/jquery.easyui.min.js"></script>
<link type="text/css" media="screen" rel="stylesheet" href="/icon.css"/>
<link type="text/css" rel="stylesheet" media="screen" href="/default/accordion.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/calendar.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/combo.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/combobox.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/datagrid.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/datebox.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/dialog.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/easyui.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/layout.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/linkbutton.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/menu.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/menubutton.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/messager.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/pagination.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/panel.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/progressbar.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/propertygrid.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/searchbox.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/spinner.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/splitbutton.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/tabs.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/tree.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/validatebox.css?body=1">
<link type="text/css" rel="stylesheet" media="screen" href="/default/window.css?body=1">
<script type="text/javascript">


    $(function () {

        $('#tt').datagrid({
            url: 'http://localhost:3000/home/list',
            title: 'DataGrid - ContextMenu',
            width: 400,
            height: 'auto',
            fitColumns: true,
            columns: [
                [
                    {field: 'id', title: 'Item ID', width: 80},
                    {field: 'name', title: 'Product ID', width: 120}
                ]
            ],
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!$('#tmenu').length) {
                    createColumnMenu();
                }
                $('#tmenu').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });

        function createColumnMenu() {
            var tmenu = $('<div id="tmenu" style="width:100px;"></div>').appendTo('body');
            var fields = $('#tt').datagrid('getColumnFields');
            for (var i = 0; i < fields.length; i++) {
                $('<div iconCls="icon-ok"/>').html(fields[i]).appendTo(tmenu);
            }
            tmenu.menu({
                onClick: function (item) {
                    if (item.iconCls == 'icon-ok') {
                        $('#tt').datagrid('hideColumn', item.text);
                        tmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-empty'
                        });
                    } else {
                        $('#tt').datagrid('showColumn', item.text);
                        tmenu.menu('setIcon', {
                            target: item.target,
                            iconCls: 'icon-ok'
                        });
                    }
                }
            });
        }
    });


</script>

<div id="content" class="xfluid">

  <div class="portlet x2">
    <div class="portlet-header"><h4>房间列表</h4></div>
    <div class="portlet-content">

    </div>
  </div>


  <div class="portlet x8">

    <table id="tt"></table>

  </div>
</div>