<div id="content" class="xfluid">
  <div class="portlet x12">

    <div class="portlet-content" style="text-align: center;">
      <h1><%= flash.notice %></h1><br/>
      <h4><a href="javascript:history.back()">返回</a></h4>
    </div>
  </div>
</div>
