<div id="footer">

  <div class="container">
    <center class="muted credit">
      &copy; 2003-2013 四川九轩科技有限公司版权所有 [<a href="http://www.ninexuan.com">川ICP备12345678号</a>]
    </center>
  </div>
</div>