<div class="row-fluid">
  <div class="container-fluid span6 offset3">
    <table id="house_base_info" class="table table-bordered table-condensed">
      <thead>
      <tr>
        <th>房号</th>
        <th>业主</th>
        <th>建筑面积</th>
        <th>类型</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>