<div class="row-fluid">
  <div class="span12">
    <table  class="table table-bordered table-condensed">
      <tbody>
        <tr>
          <td>1-1-1-1</td>
          <td>1-1-1-1</td>
          <td>1-1-1-1</td>
          <td>1-1-1-1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>