<div id="content" class="xfluid">
  <div class="portlet x7">
    <div class="portlet-header"><h4>新增预存款</h4></div>
    <div class="portlet-content">
      <%= render 'form' %>
    </div>
  </div>
</div>

